<!doctype html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="../static/css/all.css">
    <link rel="stylesheet" type="text/css" href="../static/css/about.css">
    <title>关于-九月丶过半</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <a href="/">
                <h1 class="title">九月丶过半</h1>
            </a>
            <ul class="nav">
                <li><a href="/">返回主页</a></li>
            </ul>
            <div class="whosyourdaddy"></div>
            <hr/>
        </div>
        <div class="body">
            <p>我 是一名程序员</p>
            <p>我 用 Html/Css/Javascript、Python、PHP、C#和C</p>
            <p>我 会 前端、后端、硬件单片机</p>
            <p>对，技能树点歪了的程序员</p>
            <p>为什么要做这个，也许是因为有人夸我声音好听？</p>
            <p>我可是站在程序员鄙视链顶端的人物</p>
            <p>嗯，我老婆很漂亮。</p>
        </div>
        <div class="footer">
            <hr/>
            <p>© 2017 Cater xy</p>
        </div>
    </div>
</body>

</html>