<!doctype html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="../static/css/all.css">
<title>游戏-九月丶过半</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <a href="/">
                <h1 class="title">九月丶过半</h1>
            </a>
            <ul class="nav">
                <li><a href="/">返回主页</a></li>
            </ul>
            <div class="whosyourdaddy"></div>
            <hr/>
        </div>
        <div class="body">
            <div id="HorrorHospital">
            恐怖医院
            <p onclick="main();"></p>
            <p onclick="main();"></p>
            <p onclick="main();"></p>
            </div>
        </div>
        <div class="footer" onselectstart="return false;">
            <hr/>
            <p>© 2017 Cater xy</p>
        </div>
    </div>
</body>

</html>