<!doctype html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="/static/element-ui/index.js"></script>
    <link rel="stylesheet" href="/static/element-ui/index.css">
    <link rel="stylesheet" type="text/css" href="/static/css/all.css">

<title>游戏-九月丶过半</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <a href="/">
                <h1 class="title">九月丶过半</h1>
            </a>
            <ul class="nav">
                <li><a href="/">返回主页</a></li>
            </ul>
            <div class="whosyourdaddy"></div>
            <hr/>
        </div>
        <div class="body">
            <div id="HorrorHospital">
            <p v-on:click="start" v-if="isStart">{{title}}</p>
            <p v-if="!isStart">{{body[node]["topic"]}}</p>
            <p v-for="(item,index) in body[node].options" v-if="!isStart" v-on:click="next" v-bind:key="item.id">
                {{item.option}}
            </p>

            </div>
        </div>
        <div class="footer" onselectstart="return false;">
            <hr/>
            <p>© 2017 Cater xy</p>
        </div>
    </div>
    <!-- 引入js -->

    <script src="/static/js/game.js">
    </script>
</body>

</html>