<!doctype html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/all.css">
    <link rel="stylesheet" type="text/css" href="../static/css/about.css">
    <title>关于-九月丶过半</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <a href="/">
                <h1 class="title">九月丶过半</h1>
            </a>
            <ul class="nav">
                <li><a href="/">返回主页</a></li>
            </ul>
            <div class="whosyourdaddy"></div>
            <hr/>
        </div>
        <div class="body">
            <p>微信小程序-游戏</p>
        </div>
        <div class="footer">
            <hr/>
            <p>© 2017 Cater xy</p>
        </div>
    </div>
</body>

</html>